node_modules
/coverage
dist
.DS_Store
.idea
.next

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo

/pgdata
/storage
/elasticdata
/temp_multiparty
/certbot

.env

key-base64.txt

/bat-commands
*.bat
.vscode
